@use "sass:map";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

body{
  padding-top: 40px + 4*2 + 12;
}

 @media (max-width: 290px) {
   body{
    padding-top: 64px + 4*2 + 12;
  }
}

/* Since user menu is align to right, we need to force position of the gropdown-menu */
.usermenu {
  > :global(.dropdown-menu) {
    left: auto !important;
    right: 0;
  }
}
